---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";

changeLanguage("zh");
---

<Layout>
  <h1>404</h1>
  <p>Page not found</p>
  <div class="h-screen"></div>
</Layout>
