---
import InnerSideLayout from "@layouts/InnerSideLayout.astro";
import { getCollection, getEntry } from "astro:content";
import i18next, { changeLanguage } from "i18next";

changeLanguage("zh");

export async function getStaticPaths() {
    let newsCollection = await getCollection("news");
    return newsCollection.map((news) => {
        const pathname = news.slug.slice(3);
        return {
            params: {
                type: news.data.type,
                news: pathname,
            },
        };
    });
}
const navlinks = [
    {
        name: "company-news",
        pathname: "/news/company-news",
    },
    {
        name: "industry-information",
        pathname: "/news/industry-information",
    },
];
const { news } = Astro.params;
const newsEntry = await getEntry("news", `${i18next.language}/${news}`);
const { Content } = await newsEntry!.render();
const { title, timestamp } = newsEntry!.data;
const date = new Date(timestamp);
---

<InnerSideLayout
  bannerAlt="news"
  bannerSrc="/images/news.jpeg"
  navlinks={navlinks}
>
  <header class="text-center pt-2 pb-8 border-b">
    <h1 class="text-2xl">
      {title}
    </h1>

    <section class="mt-2 text-gray-500">
      <p class="text-sm">
        <span class="font-bold mr-1">Date Published:</span>
        {
          new Intl.DateTimeFormat("en-US", {
            dateStyle: "medium",
            timeStyle: "short",
          }).format(date)
        }
      </p>
    </section>
  </header>

  <section class="mt-8 prose max-w-[unset]">
    <Content />
  </section>
</InnerSideLayout>
