---
import InnerLayout from "@layouts/InnerLayout.astro";

// images
import bannerImg from "@assets/images/about-us.jpeg";
---

<InnerLayout bannerAlt="Investment Promotion" bannerImg={bannerImg}>
  <h1>Investment Promotion</h1>
  <p>
    The Investment Promotion Department is responsible for the promotion of
    investment in the country. The department is also responsible for the
    facilitation of investment in the country. The department is also
    responsible for the facilitation of investment in the country. The
    department is also responsible for the facilitation of investment in the
    country. The department is also responsible for the facilitation of
    investment in the country. The department is also responsible for the
    facilitation of investment in the country. The department is also
    responsible for the facilitation of investment in the country. The
    department is also responsible for the facilitation of investment in the
    country. The department is also responsible for the facilitation of
    investment in the country. The department is also responsible for the
    facilitation of investment in the country. The department is also
    responsible for the facilitation of investment in the country. The
    department is also responsible for the facilitation of investment in the
    country. The department is also responsible for the facilitation of
    investment in the country. The department is also responsible for the
    facilitation of investment in the country. The department is also
    responsible for the facilitation of investment in the country. The
    department is also responsible for the facilitation of investment in the
    country. The department is also responsible for the facilitation of
    investment in the country. The department is also responsible for the
    facilitation of investment in the country.
  </p>
</InnerLayout>
