---
import InnerSideLayout from "@layouts/InnerSideLayout.astro";

const navlinks = [
  {
    name: "Company News",
    href: "/news/company-news",
  },
  {
    name: "Industry Information",
    href: "/news/industry-information",
  },
];
---

<InnerSideLayout
  navlinks={navlinks}
  bannerSrc="/images/news.jpeg"
  bannerAlt="News"
>
  <h1>News</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
    voluptatibus, quibusdam, quia, quos voluptatem voluptatum quod voluptates
    quas doloribus quidem voluptate. Quisquam voluptatibus, quibusdam, quia,
    quos voluptatem voluptatum quod voluptates quas doloribus quidem voluptate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
    voluptatibus, quibusdam, quia, quos voluptatem voluptatum quod voluptates
    quas doloribus quidem voluptate. Quisquam voluptatibus, quibusdam, quia,
    quos voluptatem voluptatum quod voluptates quas doloribus quidem voluptate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
    voluptatibus, quibusdam, quia, quos voluptatem voluptatum quod voluptates
    quas doloribus quidem voluptate. Quisquam voluptatibus, quibusdam, quia,
    quos voluptatem voluptatum quod voluptates quas doloribus quidem voluptate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
    voluptatibus, quibusdam, quia, quos voluptatem voluptatum quod voluptates
    quas doloribus quidem voluptate. Quisquam voluptatibus, quibusdam, quia,
    quos voluptatem voluptatum quod voluptates quas doloribus quidem voluptate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
    voluptatibus, quibusdam, quia, quos voluptatem voluptatum quod voluptates
    quas doloribus quidem voluptate. Quisquam voluptatibus, quibusdam, quia,
    quos voluptatem voluptatum quod voluptates quas doloribus quidem voluptate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
    voluptatibus, qu
  </p>
</InnerSideLayout>
