---
import { changeLanguage, t } from "i18next";
import AboutUsNavigation from "@components/AboutUsNavigation.astro";
import InnerLayout from "@layouts/InnerLayout.astro";
import { utilAddLocalePathname } from "@services/utilService";

changeLanguage("en");

const redirect = utilAddLocalePathname({
    pathname: "/about-us/company-profile",
});
---

<InnerLayout bannerSrc={t(`banners:about-us`)} bannerAlt="about-us">
  <AboutUsNavigation />

  <div class="mb-8" data-redirect={redirect}></div>
</InnerLayout>

<script>
  const redirect =
    document.querySelector<HTMLElement>("[data-redirect]")!.dataset.redirect ||
    "/";

  window.location.href = redirect;
</script>
