---
import AboutUsNavigation from "@components/AboutUsNavigation.astro";
import InnerLayout from "@layouts/InnerLayout.astro";
---

<InnerLayout bannerSrc="/images/about-us.jpeg" bannerAlt="About us">
  <AboutUsNavigation />

  <div class="mb-8"></div>
</InnerLayout>
