---
import { changeLanguage } from "i18next";
import AboutUsNavigation from "@components/AboutUsNavigation.astro";
import InnerLayout from "@layouts/InnerLayout.astro";

changeLanguage("en");
---

<InnerLayout bannerSrc="/images/about-us.jpeg" bannerAlt="about-us">
  <AboutUsNavigation />

  <div class="mb-8"></div>
</InnerLayout>
