---
import AboutUsNavigation from "@components/AboutUsNavigation.astro";
import InnerLayout from "@layouts/InnerLayout.astro";

// images
import bannerImg from "@assets/images/about-us.jpeg";
---

<InnerLayout bannerImg={bannerImg} bannerAlt="About us">
  <AboutUsNavigation />

  <div class="mb-8"></div>
</InnerLayout>
