---
import InnerSideLayout from "@layouts/InnerSideLayout.astro";
import { getCollection, getEntry } from "astro:content";
import i18next, { changeLanguage } from "i18next";

changeLanguage("en");

export async function getStaticPaths() {
    let newsCollection = await getCollection("news");
    return newsCollection.map((news) => {
        const pathname = news.slug.slice(3);
        return {
            params: {
                news: pathname,
            },
        };
    });
}
const navlinks = [
    {
        name: "company-news",
        pathname: "/news/company-news",
    },
    {
        name: "industry-information",
        pathname: "/news/industry-information",
    },
];
const { news } = Astro.params;
const newsEntry = await getEntry("news", `${i18next.language}/${news}`);
const { Content } = await newsEntry!.render();
---

<InnerSideLayout
  bannerAlt="news"
  bannerSrc="/images/news.jpeg"
  navlinks={navlinks}
>
  <section class="prose max-w-[unset]">
    <Content />
  </section>
</InnerSideLayout>
