---
import MailboxIcon from "@assets/MailboxIcon.astro";
---

<header class="text-xl border-b border-dashed">
  <section class="container py-4 flex items-center justify-between">
    <!-- left -->
    <div class="flex">
      <h1 class="text-p flex items-center font-bold">
        <a href="/" class="text-8xl">D.K.</a>
        <a href="/"> Dongke (Shenzhen) Industrial Development Co.,Ltd.</a>
      </h1>
    </div>

    <!-- Right -->
    <div class="flex items-center space-x-2">
      <div class="w-12 h-12 text-p">
        <MailboxIcon />
      </div>

      <p>E-mail:sales9@chinapacking.biz</p>
    </div>
  </section>
</header>
