---
import HomeIcon from "@assets/HomeIcon.astro";
import navlinksJson from "@data/navlinks.json";
import { t } from "i18next";
import {
  utilAddLocalePathname,
  utilRemoveLocalePathname,
} from "@services/utilService";

let { pathname: astroPathname } = Astro.url;
astroPathname = utilRemoveLocalePathname({ pathname: astroPathname });

const navLinks = navlinksJson.contents;
---

<section class="sticky top-0 border-y py-2 bg-white shadow">
  <nav class="container">
    <ul class="flex justify-center space-x-1">
      {
        navLinks.map((navLink) => {
          const { name, pathname } = navLink;
          return (
            <li>
              <a
                href={utilAddLocalePathname({ pathname })}
                class={`flex items-center px-8 py-2 rounded-full transition ${
                  (astroPathname.startsWith(pathname) && pathname !== "/") ||
                  astroPathname === pathname
                    ? "bg-p text-white"
                    : ""
                } hover:text-white hover:bg-p`}
              >
                {pathname === "/" && (
                  <div class="w-5 h-5 mr-2">
                    <HomeIcon />
                  </div>
                )}
                {t(name)}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</section>
