---
import navlinksJson from "@data/navlinks.json";

const { pathname } = Astro.url;

const navLinks = navlinksJson.contents;
---

<section class="sticky top-0 border-y py-2 bg-white shadow">
  <nav class="container">
    <ul class="flex justify-center space-x-1">
      {
        navLinks.map((navLink) => {
          const { name, url } = navLink;
          return (
            <li>
              <a
                href={url}
                class={`block px-8 py-2 rounded-full transition ${
                  url === pathname ? "bg-p text-white" : ""
                } hover:text-white hover:bg-p`}
              >
                {name}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</section>
