---
import { t } from "i18next";
import { utilAddLocalePathname } from "@services/utilService";

const navlinks = [
  {
    name: "company-profile",
    pathname: "/about-us/company-profile",
  },
  {
    name: "production-workshop",
    pathname: "/about-us/production-workshop",
  },
  {
    name: "advanced-equipment",
    pathname: "/about-us/advanced-equipment",
  },
  {
    name: "certificate",
    pathname: "/about-us/certificate",
  },
  {
    name: "company-history",
    pathname: "/about-us/company-history",
  },
  {
    name: "anti-modern-slavery-and-anti-population-propaganda-statement",
    pathname:
      "/about-us/anti-modern-slavery-and-anti-population-propaganda-statement",
  },
];

const { pathname: astroPathname } = Astro.url;
---

<section class="container mt-8">
  <nav class="border-b">
    <ul class="flex flex-wrap space-x-4 px-16 justify-center">
      {
        navlinks.map((navlink) => {
          const { name, pathname } = navlink;
          return (
            <li>
              <a
                href={utilAddLocalePathname({ pathname })}
                class={`block px-4 py-2 border transition ${
                  astroPathname.includes(pathname)
                    ? "bg-p text-white border-p"
                    : "bg-gray-50"
                } hover:border-p hover:bg-p hover:text-white`}
              >
                {t(name)}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</section>
