---
import CaretIcon from "@assets/CaretIcon.astro";
import {
  utilAddLocalePathname,
  utilRemoveLocalePathname,
} from "@services/utilService";
import { t } from "i18next";

type Props = {
  navlink: {
    name: string;
    pathname: string;
    children?: {
      name: string;
      pathname: string;
    }[];
  };
};

const { navlink } = Astro.props as Props;
const { name, pathname, children } = navlink;
let { pathname: astroPathname } = Astro.url;
astroPathname = utilRemoveLocalePathname({ pathname: astroPathname });
---

<side-nav-item>
  <div
    class={`flex bg-gray-100 transition ${
      astroPathname.startsWith(pathname) ? "text-p bg-white" : ""
    } hover:bg-white hover:text-p`}
  >
    <a
      href={utilAddLocalePathname({ pathname })}
      class={`block px-4 py-2  flex-1`}
    >
      {t(name)}
    </a>

    {
      children && (
        <button
          class={`transition ${
            astroPathname.startsWith(pathname) ? "rotate-180" : ""
          }`}
        >
          <div class="w-6 h-6 text-p">
            <CaretIcon />
          </div>
        </button>
      )
    }
  </div>

  {
    children && (
      <div
        data-children
        class={`grid border-t transition-all ${
          astroPathname.startsWith(pathname)
            ? "grid-rows-[1fr]"
            : "grid-rows-[0fr]"
        }`}
      >
        <ul class="pl-4 border-gray-200 overflow-hidden">
          {children.map((child) => {
            const { name, pathname } = child;

            return (
              <li>
                <a
                  href={utilAddLocalePathname({ pathname })}
                  class={`block px-4 py-2 transition ${
                    astroPathname.startsWith(pathname) ? "text-p bg-white" : ""
                  } hover:bg-white hover:text-p`}
                >
                  {t(name)}
                </a>
              </li>
            );
          })}
        </ul>
      </div>
    )
  }
</side-nav-item>

<script>
  class SideNavItem extends HTMLElement {
    constructor() {
      super();

      const initialSetup = () => {
        const button = this.querySelector("button");
        const children = this.querySelector("[data-children]");

        button?.addEventListener("click", () => {
          button?.classList.toggle("rotate-180");
          children?.classList.toggle("grid-rows-[1fr]");
          children?.classList.toggle("grid-rows-[0fr]");
          children?.classList.toggle("border-t");
        });
      };

      // Trigger initial setup on page swap
      document.addEventListener("astro:after-swap", initialSetup);

      // Trigger initial setup on first load
      initialSetup();
    }
  }

  customElements.define("side-nav-item", SideNavItem);
</script>
