---
import navlinksJson from "@data/navlinks.json";
import { utilAddLocalePathname } from "@services/utilService";
import { t } from "i18next";

const navlinks = navlinksJson.contents;
---

<section class="container">
  <nav class="border-b p-5 border-gray-500">
    <ul class="flex justify-evenly text-white">
      {
        navlinks.map((navlink) => {
          const { name, pathname } = navlink;
          return (
            <li>
              <a href={utilAddLocalePathname({ pathname })}>{t(name)}</a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</section>
