---
import { Image } from "astro:assets";

// images
import logoImg from "@assets/images/logo.png";
import qrCodeImg from "@assets/images/qr-code.png";
---

<section class="container flex py-8 text-white">
  <!-- Logo -->
  <div class="self-start pt-4">
    <Image src={logoImg} alt="logo" />
  </div>

  <!-- Center -->
  <ul class="space-y-2 w-3/5 mx-auto">
    <li>Manager Liao: 13510477115</li>
    <li>Manager Zhang: 13823396824</li>
    <li>Email: william@dkmecial.cn</li>
    <li>
      Add:1st Floor, Building A, Kelixing Industrial Zone, Tiantangwei, Fenggang
      Town,
    </li>
    <li>Dongguan City, Guangdong Province</li>
  </ul>

  <!-- QR Code -->
  <div class="h-28 w-28 self-end">
    <Image src={qrCodeImg} alt="logo" />
  </div>
</section>
