---
import navlinksJson from "@data/navlinks.json";
import { utilAddLocalePathname } from "@services/utilService";
import { t } from "i18next";

const navlinks = navlinksJson.contents;
---

<section class="container hidden md:block">
  <nav class="border-b border-gray-500 p-5 px-0 lg:px-5">
    <ul class="flex text-white justify-between lg:justify-evenly">
      {
        navlinks.map((navlink) => {
          const { name, pathname } = navlink;
          return (
            <li>
              <a href={utilAddLocalePathname({ pathname })}>{t(name)}</a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</section>
