---
import { Picture } from "astro-imagetools/components";
import contactUsJson from "@data/contact-us.json";
---

<section class="container flex py-8 text-white">
  <!-- Logo -->
  <div class="self-start pt-4">
    <Picture src="/images/logo.png" alt="logo" />
  </div>

  <!-- Center -->
  <ul class="space-y-2 w-3/5 mx-auto">
    <li>Manager Liao: {contactUsJson.liao}</li>
    <li>Manager Zhang: {contactUsJson.zhang}</li>
    <li>Email: {contactUsJson.email}</li>
    <li>Address: {contactUsJson.address}</li>
  </ul>

  <!-- QR Code -->
  <div class="h-28 w-28 self-end">
    <Picture src="/images/qr-code.png" alt="logo" />
  </div>
</section>
