---
import Footer from "@components/footer/Footer.astro";
import FooterNavigation from "@components/footer/FooterNavigation.astro";
import Header from "@components/header/Header.astro";
import HeaderBanner from "@components/header/HeaderBanner.astro";
import HeaderNavigation from "@components/header/HeaderNavigation.astro";
import { HeadHrefLangs } from "astro-i18next/components";
import i18next, { t } from "i18next";
import { SEO } from "astro-seo";

export type LayoutProps = {
  title?: string;
  description?: string;
  keywords?: string;
  author?: string;
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string;
};

const {
  title = t("site:title"),
  description = t(`site:description`),
  keywords = t(`site:keywords`),
  author = t(`site:author`),
  ogTitle = t(`site:title`),
  ogDescription = t(`site:description`),
  ogImage = "/images/logo.png",
} = Astro.props as LayoutProps;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title!}
      description={description!}
      openGraph={{
        basic: {
          title: ogTitle!,
          type: "website",
          image: ogImage,
        },
        optional: {
          description: ogDescription!,
        },
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          { name: "author", content: author! },
          { name: "keywords", content: keywords! },
        ],
      }}
    />
    <HeadHrefLangs />
  </head>
  <body>
    <HeaderBanner />
    <Header />
    <HeaderNavigation />

    <main>
      <slot />
    </main>

    <footer class="bg-[#333]">
      <FooterNavigation />
      <Footer />
    </footer>
  </body>
</html>

<script>
  import { utilAddLocalePathname } from "@services/utilService";
  const cookie = document.cookie;

  // Get language
  const language = cookie
    .split("; ")
    .find((row) => row.startsWith("language"));

  // If no language cookie, set it
  if (!language) {
    // get user locale
    const userLocale = navigator.language;
    const locale = userLocale.split("-")[0];

    // set cookie
    document.cookie = `language=${locale}; path=/; max-age=31536000`;

    // get current pathname
    let pathname = document.location.pathname;

    // remove locale from pathname
    pathname =
      pathname.split("/")[1].length === 2 ? pathname.slice(3) : pathname;

    // add locale to pathname
    pathname = utilAddLocalePathname({
      pathname,
      locale,
    });

    // redirect to new pathname
    document.location.href = pathname;
  }
</script>