---
import Footer from "@components/footer/Footer.astro";
import FooterBottom from "@components/footer/FooterBottom.astro";
import FooterNavigation from "@components/footer/FooterNavigation.astro";
import Header from "@components/header/Header.astro";
import HeaderBanner from "@components/header/HeaderBanner.astro";
import HeaderNavigation from "@components/header/HeaderNavigation.astro";
import { ViewTransitions } from "astro:transitions";
import { HeadHrefLangs } from "astro-i18next/components";
import i18next, { t } from "i18next";

export type LayoutProps = {
  title?: string;
};

const { title = t("site:title") } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={t(`site:description`)} />
    <meta name="keywords" content={t(`site:keywords`)} />
    <meta name="author" content={t(`site:author`)} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/logo/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/logo/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/logo/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <HeadHrefLangs />
  </head>
  <body>
    <HeaderBanner />
    <Header />
    <HeaderNavigation />

    <main>
      <slot />
    </main>

    <footer class="bg-[#333]">
      <FooterNavigation />
      <Footer />
    </footer>
  </body>
</html>

<script>
  import { utilAddLocalePathname } from "@services/utilService";
  const cookie = document.cookie;

  // Get language
  const language = cookie
    .split("; ")
    .find((row) => row.startsWith("language"));

  // If no language cookie, set it
  if (!language) {
    // get user locale
    const userLocale = navigator.language;
    const locale = userLocale.split("-")[0];

    // set cookie
    document.cookie = `language=${locale}; path=/; max-age=31536000`;

    // get current pathname
    let pathname = document.location.pathname;

    // remove locale from pathname
    pathname =
      pathname.split("/")[1].length === 2 ? pathname.slice(3) : pathname;

    // add locale to pathname
    pathname = utilAddLocalePathname({
      pathname,
      locale,
    });

    // redirect to new pathname
    document.location.href = pathname;
  }
</script>