---
import FooterBottom from "@components/footer/FooterBottom.astro";
import FooterNavigation from "@components/footer/FooterNavigation.astro";
import Header from "@components/header/Header.astro";
import HeaderBanner from "@components/header/HeaderBanner.astro";
import HeaderNavigation from "@components/header/HeaderNavigation.astro";

export type LayoutProps = {
  title?: string;
};

const { title = "Dongke" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/logo/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/logo/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/logo/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <HeaderBanner />
    <Header />
    <HeaderNavigation />

    <main>
      <slot />
    </main>

    <footer class="bg-[#333]">
      <FooterNavigation />
      <FooterBottom />
    </footer>
  </body>
</html>
